<div class="ml-5 d-block">
  <div class="container-fluid">
    <div class="row section__header">
      <div class="col py-3">
        <h1 class="m-0 d-flex align-items-center">
          Gradebook <mat-icon>keyboard_arrow_right</mat-icon> SEM Check-In Chats
        </h1>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column">
    <div class="header mt-2 ml-2">
      <div class="col-3">
        <strong>Name:</strong>&nbsp;{{ profile?.name }}
      </div>
  
      <div class="col-3">
        <strong>Pipeline:</strong>&nbsp;{{ profile?.pipeline }}
      </div>
  
      <div class="col-3">
        <strong>Date Started:</strong>&nbsp;{{ profile?.startDate | date: 'yyyy/MM/dd' }}
      </div>
  
      <div class="col-3">
        <strong>Days Completed:</strong>&nbsp;{{ daysCompleted }}
      </div>
    </div>
    <div class="d-flex">
      <div class="container">
        <div class="col">
          <h4 class="ml-3 mb-2">Summary</h4>
          <df-card style="max-width: 400px">
            <df-card-content class="d-block">
              <div class="d-flex mb-3">
                <h5 class="my-0">Productivity: </h5>14.3
              </div>
              <div class="d-flex  mb-3">
                <h5 class="my-0">Quality: </h5>93.21%
              </div>
              <div class="d-block mb-3">
                <h5 class="my-0">Hardest Problems:</h5>
                RIQB-890
              </div>
              <div class="d-block mb-3">
                <h5 class="my-0">Missing Calendar Items:</h5>
                <i>Week 1 - Monday - Get the list of assignments (jira) and go through it</i> 
              </div>
              <div class="d-block">
                <h5 class="my-0">Compliance:</h5>
                <span class="d-flex justify-content-between">
                  <span>Focus: 80%</span>
                  <span>Intensity: 70%</span>
                  <span>Alignment: 90%</span>
                </span>
              </div>
            </df-card-content>
          </df-card>
        </div>
        <div class="col">
          <h4 class="mb-2">Check-In Chats</h4>
          <df-card>
            <df-card-content>
              weeks
            </df-card-content>
          </df-card>
        </div>
      </div>
    </div>
  </div>
</div>