.above-average {
  border-bottom: 4px solid #6dbd70;
  color: inherit;
}

.check-in-chat-bubble {
  color: blue;
  font-size: 16px;
}

.above-average-anchor {
  color: inherit;
}

.below-average-anchor {
  color: #fa605d;
}

.matches-average-anchor {
  color: inherit;
}

.below-average {
  border-bottom: 4px solid #fa605d;
  color: #fa605d;
}

.ultimate-target {
  border-bottom: 4px solid #bbc7cd;
}

.ic-link {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.matches-average {
  border-bottom: 4px solid #ffab2d;
  color: inherit;
}

.info-tooltip {
  font-size: 14px;
  position: absolute;
  top: 1px;
  right: -11px;
  cursor: pointer;
}

:host ::ng-deep {
  .df-grid {
    tr:nth-child(1) {
      th:nth-child(2) {
        width: 310px;
      }
      th:nth-child(3) {
        width: 290px;
      }
    }

    td {
      padding: 0 0;
      line-height: 30px !important;
      text-align: center;
      font-size: 12px;
    }

    .df-grid-table-body__cell-data {
      white-space: nowrap;
    }

    td:nth-child(1),
    td:nth-child(2),
    td:nth-child(3),
    td:nth-child(4) {
      padding-left: 5px;
      padding-right: 5px;
      text-align: unset;
    }

    td:nth-child(5),
    td:nth-child(9) {
      padding-left: 10px;
    }

    td:nth-child(8),
    td:nth-child(11) {
      padding-right: 10px;
    }
  }

  .df-grid-column__cell-content {
    display: flex;
    justify-content: center;
  }

  .resizable-grid th, .resizable-grid td {
    border-right: 1px solid #eee;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(238, 238, 238);
  }
}
