section.container {
  display: flex;
  height: 100%;

  div.content {
    padding: 20px;
    box-sizing: border-box;
    flex-grow: 1;
    overflow-y: auto;

    .header {
      display: flex;
      align-items: center;
      justify-content: start;
      margin: -20px -20px 20px;
      background: #fff;
      padding: 20px;
      border-bottom: 1px solid #D1D1D1;
    }

    .main {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 40px 40px;

      .introduction {
        .alert {
          display: flex;
          background: #fff;
          border: 1px solid #22AAE3;

          .badge {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            background: #22AAE3;
            color: #fff;
          }

          .data {
            padding: 20px;
            box-sizing: border-box;

            h1 {
              font-size: 16px;
              margin: 0 0 10px;
            }

            ul {
              list-style: none;
              margin: 0;
              padding: 0;

              li {
                margin-bottom: 5px;
                max-width: 900px;

                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }

      .center {
        display: flex;
        justify-content: space-between;

        .left {
          width: 100%;
          margin-right: 20px;

          .managers {
            margin-top: 20px;

            .manager {
              display: flex;
              background: #fff;
              box-shadow: 0 0 15px rgba(#000, .15);
              margin-bottom: 10px;
              padding: 20px;
              align-items: center;

              &:last-child {
                margin-bottom: 0;
              }

              .avatar {
                display: block;
                width: 40px;
                height: 40px;
                background: #5A5A5A;
                margin-right: 20px;
                border-radius: 50%;
              }

              &-content,
              &-details {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                .heading {
                  display: flex;
                  align-items: center;
                  margin-bottom: 10px;

                  mat-icon {
                    color: #22AAE3;
                  }

                  .sender {
                    margin: 0 10px;
                  }

                  .time {
                    color: #8A8A8A;
                  }
                }
              }

              .actions {
                button {
                  background: #22AAE3;
                  color: #fff;
                  margin-left: 10px;
                }
              }
            }
          }
        }

        .right {
          max-width: 800px;

          .managers {
            margin-top: 20px;

            .manager {
              display: flex;
              background: #fff;
              box-shadow: 0 0 15px rgba(#000, .15);
              margin-bottom: 10px;
              padding: 20px;
              align-items: center;

              &:last-child {
                margin-bottom: 0;
              }

              .avatar {
                display: block;
                width: 40px;
                height: 40px;
                background: url("/assets/images/manager.png") center no-repeat;
                background-size: cover;
                margin-right: 20px;
                border-radius: 50%;
              }

              &-content {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                .heading {
                  display: flex;
                  align-items: center;
                  margin-bottom: 10px;

                  mat-icon {
                    color: #22AAE3;
                  }

                  .sender {
                    margin: 0 10px;
                  }

                  .time {
                    color: #8A8A8A;
                  }
                }
              }

              .actions {
                button {
                  background: #22AAE3;
                  color: #fff;
                  margin-left: 10px;
                }
              }
            }
          }
        }
      }
    }
  }

  div.help {
    width: 250px;
    max-width: 250px;
    min-width: 250px;
    padding: 20px;
    background: #F8F8F8;
    box-shadow: 0 0 5px rgba(#000, .25);

    h1 {
      margin: -20px -20px 20px;
      padding: 20px;
      border-bottom: 1px solid #D1D1D1;
    }

    p {
      color: #4B4B4B;
      margin: 0 0 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
