<section class="container">
  <div class="content">
    <div class="header">
      <div class="user col">
        Milos ( Miskone ) Sretin
      </div>
    </div>

    <div class="main">
      <div class="introduction">
        <h1>Track ICs from your team</h1>

        <p>As a Manager of ESW Capital Group, you can keep track of ICs that were sent from your team to Bootcamp in case you want them back.</p>

        <div class="alert">
          <div class="badge">
            <mat-icon>info</mat-icon>
          </div>
          <div class="data">
            <h1>Note</h1>

            <ul>
              <li>Bootcamp lasts four weeks and only SVP can request immediate graduation of IC in case it is required by project.</li>
              <li>You can keep track of only ICs sent from your team on this page but you can request access to view all ICs and filter them by advanced criteria</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="center">
        <div class="left">
          <h1>List of ICs from your team with their progress</h1>

          <p>
            Below list is sorted by Bootcamper's progress.<br/>
            Sorting and filtering options will be available soon.
          </p>

          <div class="managers">
            <div class="manager">
              <div class="avatar"></div>
              <div class="manager-content">
                <div class="title">Milos Sretin</div>
                <div class="contact">
                  <div>Chief Software Architect</div>
                  <div>Total Points: 11</div>
                  <div>milos.sretin@aurea.com</div>
                  <div>mickey.tl.wonder</div>
                </div>
              </div>

              <div class="manager-details">
                <div>Week #1 Score: 1</div>
                <div>Week #2 Score: 5</div>
                <div>Week #3 Score: N/A</div>
                <div>Week #4 Score: N/A</div>
                <div>Bonus Score: 5</div>
              </div>

              <div class="manager-details">
                <div>WSPro: Passing</div>
                <div>Focus: 100%</div>
                <div>Intensity: 100%</div>
                <div>Alignment: 90%</div>
              </div>

              <div class="actions">
                <button mat-icon-button>
                  <mat-icon>chat</mat-icon>
                </button>

                <button mat-icon-button>
                  <mat-icon>mail</mat-icon>
                </button>

                <button mat-icon-button>
                  S
                </button>
              </div>
            </div>

            <div class="manager">
              <div class="avatar"></div>
              <div class="manager-content">
                <div class="title">Luke Skywalker</div>
                <div class="contact">
                  <div>Chief Java Architect</div>
                  <div>Total Points: 10</div>
                  <div>luke.skywkr@aurea.com</div>
                  <div>live:lsw</div>
                </div>
              </div>

              <div class="manager-details">
                <div>Week #1 Score: 1</div>
                <div>Week #2 Score: 4</div>
                <div>Week #3 Score: N/A</div>
                <div>Week #4 Score: N/A</div>
                <div>Bonus Score: 5</div>
              </div>

              <div class="manager-details">
                <div>WSPro: Passing</div>
                <div>Focus: 95%</div>
                <div>Intensity: 100%</div>
                <div>Alignment: 78%</div>
              </div>

              <div class="actions">
                <button mat-icon-button>
                  <mat-icon>chat</mat-icon>
                </button>

                <button mat-icon-button>
                  <mat-icon>mail</mat-icon>
                </button>

                <button mat-icon-button>
                  S
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="right">
          <h1>Available Bootcamp SEMs</h1>

          <p>
            Please, feel free to contact Bootcamp SEMs for any questions that you
            have related to Bootcamp and IC transferring.
          </p>

          <div class="managers">
            <div class="manager">
              <div class="avatar"></div>
              <div class="manager-content">
                <div class="title">Mohammad Shah</div>
                <div class="contact">
                  <div>mohammad.shah@aurea.com</div>
                  <div>mdshahbrains</div>
                </div>
              </div>
              <div class="actions">
                <button mat-icon-button>
                  <mat-icon>chat</mat-icon>
                </button>

                <button mat-icon-button>
                  <mat-icon>mail</mat-icon>
                </button>

                <button mat-icon-button>
                  S
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="help">
    <h1>Tips & Quick Help</h1>

    <p>
      IC Transfer Request and Boot Camp
      Registration page helps you create new
      transfer request to Boot Camp for your IC.
    </p>

    <p>
      Please, make sure you read all instructions
      before submitting transfer request and
      feel free to contact available Boot Camp
      Software Engineering Manager for any
      questions you have.
    </p>

    <p>IMPORTANT</p>

    <p>
      Bootcamp form needs to be filled before
      Wednesday EOD to book the slot
      available for next batch.
    </p>

    <p>
      Current / existing manager needs to
      communicate clearly to IC the reason for
      their movement to Bootcamp and
      graduation from Bootcamp is mandatory
      to be eligible for any job offer in EWS.
    </p>

    <p>
      IC needs to be moved to Eng Bootcamp
      team only on Monday morning under any
      of the below reporting SEM name and
      also for any queries.
    </p>
  </div>
</section>
