<section class="container">
  <div class="content">
    <div class="header">
      <div class="col">
        RemoteU Cost Analysis <mat-icon>help</mat-icon>
      </div>

      <div class="col">
        RemoteU Graduation Analysis <mat-icon>help</mat-icon>
      </div>
    </div>

    <div class="statistics">
      <div class="col">
        <img src="/assets/images/price-chart.png" />
      </div>
      <div class="col">
        <img src="/assets/images/grade-chart.png" />
      </div>
    </div>

    <div class="main">
      <div class="left">
        <h1>RemoteU Statistics</h1>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Current number of Remotecampers
              </mat-panel-title>
              <mat-panel-description>
                54
              </mat-panel-description>
            </mat-expansion-panel-header>

            <ul>
              <li>Vice President ( VP ) - 12</li>
              <li>Software Engineering Manager ( SEM ) - 4</li>
              <li>Chief Software Architect ( CA ) - 8</li>
              <li>Software Architect ( SA ) - 20</li>
              <li>Software Engineer ( SE ) - 10</li>
            </ul>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Passed graduation
              </mat-panel-title>
              <mat-panel-description>
                12
              </mat-panel-description>
            </mat-expansion-panel-header>

            <ul>
              <li>Vice President ( VP ) - 12</li>
              <li>Software Engineering Manager ( SEM ) - 4</li>
              <li>Chief Software Architect ( CA ) - 8</li>
              <li>Software Architect ( SA ) - 20</li>
              <li>Software Engineer ( SE ) - 10</li>
            </ul>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Failed graduation
              </mat-panel-title>
              <mat-panel-description>
                32
              </mat-panel-description>
            </mat-expansion-panel-header>

            <ul>
              <li>Vice President ( VP ) - 12</li>
              <li>Software Engineering Manager ( SEM ) - 4</li>
              <li>Chief Software Architect ( CA ) - 8</li>
              <li>Software Architect ( SA ) - 20</li>
              <li>Software Engineer ( SE ) - 10</li>
            </ul>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Total RemoteU Cost
              </mat-panel-title>
              <mat-panel-description>
                $42.000
              </mat-panel-description>
            </mat-expansion-panel-header>

            $42.000 is 12% more compared to previous month.
          </mat-expansion-panel>
        </mat-accordion>

        <h1>Graduation Rate</h1>

        <div class="compare">
          <div class="status">27.3%</div>
          <mat-icon>keyboard_arrow_down</mat-icon>
          <div class="info">-2.8% Compared to previous month</div>
        </div>

        <p>
          There was a lower score recorded in Bulk Automation team
          compared to previous month. Please pay attention to
          team activities and metric to improve graduation rate.
        </p>
      </div>

      <div class="center">
        <h1>Top Performing Teams</h1>

        <div class="teams">
          <div class="team green">
            <div>
              Hackaton <span>32 Points</span>
            </div>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </div>

          <div class="team green">
            <div>
              Code Cleanup <span>30 Points</span>
            </div>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </div>

          <div class="team orange">
            <div>
              Handcrafted Tests <span>23 Points</span>
            </div>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </div>

          <div class="team red">
            <div>
              Automation Tests <span>13 Points</span>
            </div>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </div>
        </div>
      </div>

      <div class="right">
        <h1>Top performers of previous week</h1>

        <div class="managers">
          <div class="manager">
            <div class="avatar"></div>
            <div class="manager-content">
              <div class="title">Luke Skywalker <span class="green">12 Points</span></div>
              <div class="contact">
                <div>Current team: <span>Hackaton</span></div>
                <div>Manager: <span>Mohammad Shah</span></div>
              </div>
            </div>
            <div class="actions">
              <button mat-icon-button>
                <mat-icon>chat</mat-icon>
              </button>

              <button mat-icon-button>
                <mat-icon>mail</mat-icon>
              </button>

              <button mat-icon-button>
                S
              </button>
            </div>
          </div>

          <div class="manager">
            <div class="avatar"></div>
            <div class="manager-content">
              <div class="title">John Doe <span class="green">11 Points</span></div>
              <div class="contact">
                <div>Current team: <span>Code Cleanup</span></div>
                <div>Manager: <span>Mohammad Shah</span></div>
              </div>
            </div>
            <div class="actions">
              <button mat-icon-button>
                <mat-icon>chat</mat-icon>
              </button>

              <button mat-icon-button>
                <mat-icon>mail</mat-icon>
              </button>

              <button mat-icon-button>
                S
              </button>
            </div>
          </div>

          <h1>Bottom performers of previous week</h1>

          <div class="managers">
            <div class="manager">
              <div class="avatar"></div>
              <div class="manager-content">
                <div class="title">Mark Doe <span class="red">1 Point</span></div>
                <div class="contact">
                  <div>Current team: <span>Hackaton</span></div>
                  <div>Manager: <span>Mohammad Shah</span></div>
                </div>
              </div>
              <div class="actions">
                <button mat-icon-button>
                  <mat-icon>chat</mat-icon>
                </button>

                <button mat-icon-button>
                  <mat-icon>mail</mat-icon>
                </button>

                <button mat-icon-button>
                  S
                </button>
              </div>
            </div>
          </div>

          <div class="managers">
            <div class="manager">
              <div class="avatar"></div>
              <div class="manager-content">
                <div class="title">John Smith <span class="red">2 Points</span></div>
                <div class="contact">
                  <div>Current team: <span>Bulk Automation</span></div>
                  <div>Manager: <span>Mohammad Shah</span></div>
                </div>
              </div>
              <div class="actions">
                <button mat-icon-button>
                  <mat-icon>chat</mat-icon>
                </button>

                <button mat-icon-button>
                  <mat-icon>mail</mat-icon>
                </button>

                <button mat-icon-button>
                  S
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="help">
    <h1>Tips & Quick Help</h1>

    <p>
      Welcome to Crossover RemoteU
      platform. Here you can find all information
      related to your RemoteU assignments
      and achievements. RemoteU XO
      makes everything transparent and helps
      you achieve better results while
      suggesting you ideas for improvements.
    </p>

    <p>
      Pay attention to Suggested Improvements
      section, here you can find all suggestions
      from both Crossover tool and your
      direct manager.
    </p>

    <p>
      Also, you can find your weekly assignments
      and information about their daily points.
      Your direct manager will score your daily
      work for each day and you’ll be able to
      see those scores immediately.
    </p>

    <p>
      At the bottom right corner, you have
      instant chat where you can contact your
      direct manager in case you need any help
      or any clarification.
    </p>
  </div>
</section>
