@import '~@devfactory/ngx-df/core/theming/aurea-skin/theming';

.sign-up-form {
  max-width: 640px;
}

.asterisk {
  color: $au-red;
}

.sign-up-container {
  background-color: #f7efe7;
}

df-select {
  width: 250px;
}

:host ::ng-deep {
  .df-checkbox__label {
    text-align: left;
  }
}
