<div class="df-modal__header mt-3">
  <button class="df-modal__close-btn"
    (click)="cancelCheckInChat()">
    <span class="df-modal__close-icon"></span>
  </button>
  <h3>Check-In Chat</h3>
  <h4>Week {{ data.week }} - {{ data.day }}</h4>
</div>
<div class="modal-body" 
  modal-body>
  <form [formGroup]="form">
    <div class="form-group">
      <div class="d-block text-left">
        <div class="d-flex justify-content-between">
          <strong *ngIf="data.planForDayBefore">Plan for the day before:</strong>
          <span *ngIf="data.planForDayBefore.scoreTarget"
            class="ml-2">
            <strong>Targetted Score: </strong>{{ data.planForDayBefore.scoreTarget }}
          </span>
        </div>
        <p *ngIf="data.planForDayBefore" 
          class="plan-description">
          {{ data.planForDayBefore.summary }}
        </p>
      </div>
      <div class="d-flex mb-2">
        <span class="mr-2"><strong>Coached IC On:</strong></span>
        <df-radio-group formControlName="coachedOn" [disabled]="isDisabled()">
          <df-radio-input value="productivity">Productivity</df-radio-input>
          <df-radio-input value="quality">Quality</df-radio-input>
        </df-radio-group>
      </div>
      <textarea
        rows="5"
        type="area"
        class="form-control"
        placeholder="Enter your comments"
        formControlName="coachingComments"
        name="coachingComments"
        placeholder="Add your comment here." [readonly]="isDisabled()"></textarea>
    </div>
    <div class="d-flex justify-content-end">
      <div class="d-block">
        <button  *ngIf="!isDisabled()" 
          (click)="saveCheckInChat()"
          id="submitImpersonation"
          class="btn btn-primary pl-4 pr-4 mr-2">
          Save
        </button>
        <button 
          (click)="cancelCheckInChat()"
          class="btn btn-outline-primary pl-4 pr-4">
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
