<div class="page">
  <header class="header">
    <div class="left">
      <button 
        mat-icon-button
        (click)="toggleSideBar()"
        class="drawer-toggle">
        <mat-icon>menu</mat-icon>
      </button>

      <div class="logo">
        RemoteU
      </div>
    </div>

    <div class="center"></div>

    <div class="right">
      <button mat-icon-button matTooltip="Latest News & Updates">
        <mat-icon>feedback</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Help & Support">
        <mat-icon>help</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Notifications">
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Settings">
        <mat-icon>settings</mat-icon>
      </button>

      <button mat-icon-button [matMenuTriggerFor]="userMenu" matTooltip="User Profile">
        <mat-icon class="avatar">
          <img src="https://www.infrascan.net/demo/assets/img/avatar5.png" />
        </mat-icon>
      </button>

      <mat-menu #userMenu="matMenu">
        <button mat-menu-item [routerLink]="['/dashboard', 'users', 'profile']">User Profile</button>
        <mat-divider></mat-divider>
        <button mat-menu-item>Preferences</button>
        <button mat-menu-item>Feedback</button>
        <button mat-menu-item>Privacy Policy</button>
        <mat-divider></mat-divider>
        <a mat-menu-item href="http://jenkins.aureacentral.com/" target="_blank">
          Crossover Application
          <mat-icon class="mat-right-icon">open_in_new</mat-icon>
        </a>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">Log Out</button>
      </mat-menu>
    </div>
  </header>

  <div class="center">
    <df-sidebar
      #sideBar
      [open]="true"
      [disableButton]="true">
      <df-sidebar-item [hasIcon]="false"
                       [hasNestedMenu]="false"
                       link="/dashboard">
        <a
          class="h5 d-flex align-items-center"
          routerLink="/dashboard">
          <mat-icon class="ml-1">home</mat-icon>
          <span class="ml-2"
            [class.d-none]="!sideBar.isOpen">Dashboard</span>
        </a>
      </df-sidebar-item>
      <df-sidebar-item 
        [hasIcon]="false"
        [hasNestedMenu]="false">
        <a
          class="h5 d-flex align-items-center"
          [routerLink]="['/dashboard', 'transfer-request']">
          <mat-icon class="ml-1">transform</mat-icon>
          <span class="ml-2"
            [class.d-none]="!sideBar.isOpen">IC Transaction Request</span>
        </a>
      </df-sidebar-item>
      <df-sidebar-item 
        [hasIcon]="false"
        [hasNestedMenu]="false">
        <a
          class="h5 d-flex align-items-center"
          [routerLink]="['/dashboard', 'sem-dashboard']">
          <mat-icon class="ml-1">settings_input_svideo</mat-icon>
          <span class="ml-2"
            [class.d-none]="!sideBar.isOpen">SEM Dashboard</span>
        </a>
      </df-sidebar-item>
      <df-sidebar-item 
        [hasIcon]="false"
        [hasNestedMenu]="false">
        <a
          class="h5 d-flex align-items-center"
          [routerLink]="['/dashboard', 'vp-dashboard']">
          <mat-icon class="ml-1">dashboard</mat-icon>
          <span class="ml-2"
            [class.d-none]="!sideBar.isOpen">VP Dashboard</span>
        </a>
      </df-sidebar-item>
      <df-sidebar-item 
        [hasIcon]="false"
        [hasNestedMenu]="false">
        <a
          class="h5 d-flex align-items-center"
          routerLink="['/dashboard', 'automate-to-eliminate']">
          <mat-icon class="ml-1">leak_remove</mat-icon>
          <span class="ml-2"
            [class.d-none]="!sideBar.isOpen">Innovations & Automations</span>
        </a>
      </df-sidebar-item>
      <df-sidebar-item 
        [hasIcon]="false"
        [hasNestedMenu]="false">
        <a
          class="h5 d-flex align-items-center"
          [routerLink]="['/dashboard', 'team-configurations']">
          <mat-icon class="ml-1">group</mat-icon>
          <span class="ml-2"
            [class.d-none]="!sideBar.isOpen">Team Configurations</span>
        </a>
      </df-sidebar-item>
      <df-sidebar-item 
        [hasIcon]="false"
        [hasNestedMenu]="false">
        <a
          class="h5 d-flex align-items-center"
          [routerLink]="['/dashboard', 'request-extension']">
          <mat-icon class="ml-1">extension</mat-icon>
          <span class="ml-2"
            [class.d-none]="!sideBar.isOpen">Extend RemoteU Service</span>
        </a>
      </df-sidebar-item>
      <df-sidebar-item 
        [hasIcon]="false"
        [hasNestedMenu]="false">
        <a
          class="h5 d-flex align-items-center"
          [routerLink]="['/dashboard', 'track-ic']">
          <mat-icon class="ml-1">track_changes</mat-icon>
          <span class="ml-2"
            [class.d-none]="!sideBar.isOpen">Track ICs progress</span>
        </a>
      </df-sidebar-item>
      <df-sidebar-item 
        [hasIcon]="false"
        [hasNestedMenu]="false">
        <a
          class="h5 d-flex align-items-center"
          [routerLink]="['/dashboard', 'assignments-and-points']">
          <mat-icon class="ml-1">group_work</mat-icon>
          <span class="ml-2"
            [class.d-none]="!sideBar.isOpen">Assignments & Points</span>
        </a>
      </df-sidebar-item>
      <df-sidebar-item 
        [hasIcon]="false"
        [hasNestedMenu]="false">
        <a
          class="h5 d-flex align-items-center"
          [routerLink]="['/dashboard', 'analysis']">
          <mat-icon class="ml-1">multiline_chart</mat-icon>
          <span class="ml-2"
            [class.d-none]="!sideBar.isOpen">Analysis</span>
        </a>
      </df-sidebar-item>
      <df-sidebar-item 
        [hasIcon]="false"
        [hasNestedMenu]="false">
        <a
          class="h5 d-flex align-items-center"
          [routerLink]="['/dashboard', 'history']">
          <mat-icon class="ml-1">history</mat-icon>
          <span class="ml-2"
            [class.d-none]="!sideBar.isOpen">History</span>
        </a>
      </df-sidebar-item>
      <df-sidebar-item 
        [hasIcon]="false"
        [hasNestedMenu]="false">
        <a
          class="h5 d-flex align-items-center"
          [routerLink]="['/dashboard', 'documents-and-playbooks']">
          <mat-icon class="ml-1">attach_file</mat-icon>
          <span class="ml-2"
            [class.d-none]="!sideBar.isOpen">Documents & Playbooks</span>
        </a>
      </df-sidebar-item>
      <df-sidebar-item 
        [hasIcon]="false"
        [hasNestedMenu]="false">
        <a
          class="h5 d-flex align-items-center"
          [routerLink]="['/dashboard', 'feedback']">
          <mat-icon class="ml-1">feedback</mat-icon>
          <span class="ml-2"
            [class.d-none]="!sideBar.isOpen">Feedback</span>
        </a>
      </df-sidebar-item>
    </df-sidebar>

    <main class="col p-0">
      <router-outlet></router-outlet>
    </main>
  </div>

</div>
