<div class="page">
  <header class="header">
    <div class="left">
      <button 
        mat-icon-button
        (click)="toggleSideBar()"
        class="drawer-toggle">
        <mat-icon>menu</mat-icon>
      </button>

      <div class="logo">
        RemoteU
      </div>
    </div>

    <div class="center"></div>

    <div class="right">
      <button
        class="d-flex justify-content-center" 
        mat-icon-button
        [matMenuTriggerFor]="userMenu"
        matTooltip="User Profile">
        <mat-icon class="avatar d-flex align-items-center">
          <img src="/assets/images/user.png" />
        </mat-icon>
      </button>

      <mat-menu #userMenu="matMenu">
        <mat-divider></mat-divider>
        <a *ngIf="!isAdmin() && icHasStarted()" 
          mat-menu-item
          [routerLink]="['/profile/settings']">
          <mat-icon class="mat-left-icon align-self-center">settings</mat-icon>
          Settings
        </a>
        <mat-divider></mat-divider>
        <a  mat-menu-item
          href="https://app.crossover.com/x/login"
          target="_blank">
          <mat-icon class="mat-left-icon align-self-center">open_in_new</mat-icon>
          Crossover Application
        </a>
        <mat-divider></mat-divider>
        <a 
          (click)="logout()"
          [routerLink]=""
          class="d-flex"
          style="padding: 0 16px; height: 48px;"><div id="sign-out" class="d-flex align-items-center">
            Sign Out
          </div>
        </a>
      </mat-menu>
    </div>
  </header>

  <div class="col p-0 d-flex">
    <df-sidebar
      #sideBar
      *ngIf="icHasStarted() || isAdmin()"
      [open]="false"
      [disableButton]="true">
      <df-sidebar-item *ngIf="!isAdmin()"
        [hasIcon]="false"
        matTooltip="Dashboard"
        matTooltipPosition="right"
        [hasNestedMenu]="false">
        <a
          class="h5 d-flex align-items-center"
          [routerLink]="['/dashboard']">
          <mat-icon class="ml-1">home</mat-icon>
          <span class="ml-2"
            [class.d-none]="!sideBar.isOpen">Dashboard</span>
        </a>
      </df-sidebar-item>
      <df-sidebar-item *ngIf="!isAdmin()"
        [hasIcon]="false"
        matTooltip="Calendar"
        matTooltipPosition="right"
        [hasNestedMenu]="false">
        <a
          class="h5 d-flex align-items-center"
          [routerLink]="['/calendar']">
          <mat-icon class="ml-1">calendar_today</mat-icon>
          <span class="ml-2"
            [class.d-none]="!sideBar.isOpen">Calendar</span>
        </a>
      </df-sidebar-item>
      <df-sidebar-item
        [hasIcon]="false"
        matTooltip="Gradebook"
        matTooltipPosition="right"
        [hasNestedMenu]="false">
        <a
          class="h5 d-flex align-items-center"
          [routerLink]="['/gradebook']">
          <mat-icon class="ml-1">school</mat-icon>
          <span class="ml-2"
            [class.d-none]="!sideBar.isOpen">Gradebook</span>
        </a>
      </df-sidebar-item>
      <df-sidebar-item *ngIf="isAdmin()"
        [hasIcon]="false"
        matTooltip="Admin"
        matTooltipPosition="right"
        [hasNestedMenu]="false">
        <a
          class="h5 d-flex align-items-center"
          [routerLink]="['/admin']">
          <mat-icon class="ml-1">person</mat-icon>
          <span class="ml-2"
            [class.d-none]="!sideBar.isOpen">Admin</span>
        </a>
      </df-sidebar-item>
      <df-sidebar-item *ngIf="!isAdmin()"
        [hasIcon]="false"
        matTooltip="My Plan"
        matTooltipPosition="right"
        [hasNestedMenu]="false">
        <a
          class="h5 d-flex align-items-center"
          [routerLink]="['/plan']">
          <mat-icon class="ml-1">post_add</mat-icon>
          <span class="ml-2"
            [class.d-none]="!sideBar.isOpen">My Plan</span>
        </a>
      </df-sidebar-item>
      <df-sidebar-item *ngIf="!isAdmin()"
        [hasIcon]="false"
        matTooltip="Tutorials"
        matTooltipPosition="right"
        [hasNestedMenu]="false">
        <a
          class="h5 d-flex align-items-center"
          [routerLink]="['/tutorials']">
          <mat-icon class="ml-1">title</mat-icon>
          <span class="ml-2"
            [class.d-none]="!sideBar.isOpen">Tutorials</span>
        </a>
      </df-sidebar-item>
    </df-sidebar>

    <main class="col p-0">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
