<section class="container">
  <div class="content">
    <div class="header">
      <div class="user col">
        Milos ( Miskone ) Sretin
      </div>
    </div>

    <div class="main">
      <div class="introduction">
        <h1>Feedback</h1>

        <p>We want to improve our Bootcamp process, if you have any idea, suggestion or complain, please give us a feedback.</p>

        <div class="alert">
          <div class="badge">
            <mat-icon>info</mat-icon>
          </div>
          <div class="data">
            <h1>Info</h1>

            <ul>
              <li>
                Please use bellow form to suggest any idea for improvements of Bootcamp.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="center">
        <div class="left">
          <h1>Request Form</h1>

          <form>
            <div class="row" style="margin-bottom: 20px">
              <div class="col">
                <h1>How likely you will grade your experience in Bootcamp</h1>

                <mat-button-toggle-group name="grade" aria-label="Grade" style="width: auto; text-align: center">
                  <mat-button-toggle value="0">Very unsatisfied</mat-button-toggle>
                  <mat-button-toggle value="1">1</mat-button-toggle>
                  <mat-button-toggle value="2">2</mat-button-toggle>
                  <mat-button-toggle value="3">3</mat-button-toggle>
                  <mat-button-toggle value="4">4</mat-button-toggle>
                  <mat-button-toggle value="5">5</mat-button-toggle>
                  <mat-button-toggle value="6">6</mat-button-toggle>
                  <mat-button-toggle value="7">7</mat-button-toggle>
                  <mat-button-toggle value="8">8</mat-button-toggle>
                  <mat-button-toggle value="9">9</mat-button-toggle>
                  <mat-button-toggle value="10">10</mat-button-toggle>
                  <mat-button-toggle value="11">Very satisfied</mat-button-toggle>
                </mat-button-toggle-group>

                <h1>Feedback</h1>

                <mat-form-field class="full-width">
                  <textarea matInput placeholder="What do you like the most from Bootcamp?"></textarea>
                </mat-form-field>

                <mat-form-field class="full-width">
                  <textarea matInput placeholder="What would you change in current process?"></textarea>
                </mat-form-field>
              </div>
            </div>

            <button type="button" mat-raised-button style="background: #22AAE3; color: #fff">SEND FEEDBACK</button>
          </form>
        </div>

        <div class="right">
          <h1>Available Bootcamp SEMs</h1>

          <p>
            Please, feel free to contact Bootcamp SEMs for any questions that you
            have related to Bootcamp and IC transferring.
          </p>

          <div class="managers">
            <div class="manager">
              <div class="avatar"></div>
              <div class="manager-content">
                <div class="title">Mohammad Shah</div>
                <div class="contact">
                  <div>mohammad.shah@aurea.com</div>
                  <div>mdshahbrains</div>
                </div>
              </div>
              <div class="actions">
                <button mat-icon-button>
                  <mat-icon>chat</mat-icon>
                </button>

                <button mat-icon-button>
                  <mat-icon>mail</mat-icon>
                </button>

                <button mat-icon-button>
                  S
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="help">
    <h1>Tips & Quick Help</h1>

    <p>
      IC Transfer Request and Boot Camp
      Registration page helps you create new
      transfer request to Boot Camp for your IC.
    </p>

    <p>
      Please, make sure you read all instructions
      before submitting transfer request and
      feel free to contact available Boot Camp
      Software Engineering Manager for any
      questions you have.
    </p>

    <p>IMPORTANT</p>

    <p>
      Bootcamp form needs to be filled before
      Wednesday EOD to book the slot
      available for next batch.
    </p>

    <p>
      Current / existing manager needs to
      communicate clearly to IC the reason for
      their movement to Bootcamp and
      graduation from Bootcamp is mandatory
      to be eligible for any job offer in EWS.
    </p>

    <p>
      IC needs to be moved to Eng Bootcamp
      team only on Monday morning under any
      of the below reporting SEM name and
      also for any queries.
    </p>
  </div>
</section>
