<div class="container">
  <div class="d-flex justify-content-center">
    <df-card class="status-card">
      <df-card-content
        class="d-block">
        <h3 class="mb-4 d-flex justify-content-center">{{ getHeaderText() }},&nbsp;<strong>{{ preStartInfo?.name }}</strong>!</h3>
        <div class="row mb-3">
          <div class="col-6 d-block mb-1">
            <h4>Pipeline:</h4>
            <h5><strong>{{ preStartInfo?.pipeline }}</strong></h5>
          </div>
          <div class="col-6 d-block mb-1 text-right">
            <h4>Expected Start Date:</h4>
            <h5><strong>{{ preStartInfo?.startDate | date: short }}</strong></h5>
          </div>
          <div class="col-6 d-block mb-1">
            <h4>Email Used RemoteU:</h4>
            <h5><strong>{{ preStartInfo?.alternativeEmail }}</strong></h5>
          </div>
          <div class="col-6 d-block mb-1 text-right">
            <h4>RemoteU Email:</h4>
            <h5><strong>{{ preStartInfo?.email }}</strong></h5>
          </div>
        </div>
        <div *ngIf="!accessesConfirmed()">
          <div class="d-flex flex-column justify-content-between">
            <div class="d-flex flex-column align-items-center">
              <h5 class="d-flex align-items-center">Onboarded to RemoteU System <mat-icon class="ml-2 success">check_circle</mat-icon></h5>
              <h5 class="d-flex align-items-center">Access to IT Systems
                <div *ngIf="loadedItAccessSystems">
                  <mat-icon *ngIf="!preStartInfo?.accesses?.itSystems"
                    class="ml-2 warning">
                    warning
                  </mat-icon>
                  <mat-icon *ngIf="preStartInfo?.accesses?.itSystems"
                    class="ml-2 success">
                    check_circle
                  </mat-icon>
                </div>
                <div *ngIf="!loadedItAccessSystems">
                  <i class="ml-2 df-loader"></i>
                </div>
              </h5>
              <h5 class="d-flex align-items-center">Access to RemoteU Materials
                <div *ngIf="loadedRemoteUMaterials">
                  <mat-icon *ngIf="!preStartInfo?.accesses?.remoteUMaterials"
                    class="ml-2 warning">
                    warning
                  </mat-icon>
                  <mat-icon *ngIf="preStartInfo?.accesses?.remoteUMaterials"
                    class="ml-2 success">
                    check_circle
                  </mat-icon>
                </div>
                <div *ngIf="!loadedRemoteUMaterials">
                  <i class="ml-2 df-loader"></i>
                </div>
              </h5>
              <h5 class="d-flex align-items-center">Access to Code Repository
                <div *ngIf="loadedCodeRepositoryAccess">
                  <mat-icon *ngIf="!preStartInfo?.accesses?.codeRepository"
                    class="ml-2 warning">
                    warning
                  </mat-icon>
                  <mat-icon *ngIf="preStartInfo?.accesses?.codeRepository"
                    class="ml-2 success">
                    check_circle
                  </mat-icon>
                </div>
                <div *ngIf="!loadedCodeRepositoryAccess">
                  <i class="ml-2 df-loader"></i>
                </div>
              </h5>
              
              <div class="d-flex flex-column align-items-center mt-3">
                <p class="onboard-info text-center">Please follow all the instructions that you have received to {{ preStartInfo?.email }}. If there is an issue, please send an email to <a href = "mailto: remotecamp-sem@trilogy.com">remotecamp-sem@trilogy.com <mat-icon class="info pointer">email</mat-icon></a></p>
                <button *ngIf="showConfirmAccessesButton()"
                  [class.d-none]="true"
                  (click)="confirmAccesses(close)"
                  class="btn btn-outline-primary">
                  Confirm Accesses
                </button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="accessesConfirmed()"
          class="d-flex flex-column align-items-center">
          <div class="d-block my-2">
            <h5 class="text-center mb-0">Access to Jira <mat-icon *ngIf="preStartInfo?.accesses?.jira"
              class="ml-2 success">check_circle</mat-icon>
            </h5>
            <em *ngIf="!preStartInfo?.accesses?.jira">Will Be Set By {{ getJiraETA() | date: short }}</em>
          </div>
          <div class="d-block my-2">
            <h5 class="text-center mb-0">Assigned Tickets <mat-icon *ngIf="preStartInfo?.ticketsAssigned"
              class="ml-2 success">check_circle</mat-icon>
            </h5>
            <em *ngIf="!preStartInfo?.ticketsAssigned">Will Be Set By {{ getDefaultETA() | date: short }}</em>
          </div>
          <div class="d-block my-2">
            <h5 class="text-center mb-0">Assignment Folder <mat-icon *ngIf="preStartInfo?.assignmentFolder"
              class="ml-2 success">check_circle</mat-icon>
            </h5>
            <em *ngIf="!preStartInfo?.assignmentFolder">Will Be Set By {{ getDefaultETA() | date: short }}</em>
          </div>
          <div class="d-block my-2">
            <h5 class="text-center mb-0">Welcome Email Sent<mat-icon *ngIf="preStartInfo?.welcomeEmailSent"
              class="ml-2 success">check_circle</mat-icon>
            </h5>
            <em *ngIf="!preStartInfo?.welcomeEmailSent">Will Be Sent By {{ getDefaultETA() | date: short }}</em>
          </div>
          <div class="d-flex flex-column text-center align-items-center mt-3">
            <p class="onboard-info">Please follow all the instructions that you have received to {{ preStartInfo?.email }}. If there is an issue, please send an email to <a href = "mailto: remotecamp-sem@trilogy.com">remotecamp-sem@trilogy.com <mat-icon class="info pointer">email</mat-icon></a></p>
          </div>
        </div>
      </df-card-content>
    </df-card>
  </div>
</div>
