@import '~@devfactory/ngx-df/core/theming/aurea-skin/theming';
@import "~@devfactory/ngx-df/core/loaders/loader";

.success {
  color: $au-green;
  font-size: 24px;
}

.warning {
  color: $au-amber;
  font-size: 24px;
}

.status-card {
  width: 610px;
}

.info {
  color: $au-blue;
  font-size: 16px;
}

.info-tooltip {
  font-size: 16px;
  top: 1px;
  right: -7px;
  color: $au-amber;
  cursor: pointer;
}

.warning-icon {
  font-size: 20px;
}

.header {
  word-break: break-word;
}

.pointer {
  cursor: pointer;
}

.onboard-info {
  width: 300px;
}

:host {
  ::ng-deep {
    .df-loader {
      width: 24px;
      height: 24px;
    }
  }
}
