<section class="container">
  <div class="content">
    <div class="header">
      <div class="user col">
        Milos ( Miskone ) Sretin
      </div>
    </div>

    <div class="main">
      <div class="introduction">
        <h1>Automate to Eliminate Request</h1>

        <p>Following bellow form is mandatory to request "Automate to Eliminate" work request</p>

        <div class="alert">
          <div class="badge">
            <mat-icon>info</mat-icon>
          </div>
          <div class="data">
            <h1>Important notes</h1>

            <ul>
              <li>
                Please fill in all required fields in below form
              </li>
              <li>
                Use upload button to upload any additional document required for the work to be done.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="center">
        <div class="left">
          <h1>Request Form</h1>

          <form>
            <div class="row" style="margin-bottom: 20px">
              <div class="col">
                <h1>Automate to Eliminate</h1>

                <mat-form-field class="full-width">
                  <input matInput placeholder="Direct manager's email" />
                </mat-form-field>

                <mat-form-field class="full-width">
                  <textarea matInput placeholder="Describe current issue that your team is facing or productivity improvement idea"></textarea>
                </mat-form-field>

                <mat-form-field class="full-width">
                  <textarea matInput placeholder="Describe how would you like to develop your idea ( ex. Technology stack )"></textarea>
                </mat-form-field>

                <mat-form-field class="full-width">
                  <textarea matInput placeholder="Describe expected working output"></textarea>
                </mat-form-field>

                <h1>Pre requirements</h1>

                <mat-checkbox>All required information about requested work are provided</mat-checkbox>
              </div>
            </div>

            <button type="button" mat-raised-button style="background: #22AAE3; color: #fff">SEND TRANSFER REQUEST</button>
            <button type="button" mat-raised-button style="margin-left: 20px">Upload additional documents</button>
          </form>
        </div>

        <div class="right">
          <h1>Available RemoteU SEMs</h1>

          <p>
            Please, feel free to contact RemoteU SEMs for any questions that you
            have related to RemoteU and IC transferring.
          </p>

          <div class="managers">
            <div class="manager">
              <div class="avatar"></div>
              <div class="manager-content">
                <div class="title">Mohammad Shah</div>
                <div class="contact">
                  <div>mohammad.shah@aurea.com</div>
                  <div>mdshahbrains</div>
                </div>
              </div>
              <div class="actions">
                <button mat-icon-button>
                  <mat-icon>chat</mat-icon>
                </button>

                <button mat-icon-button>
                  <mat-icon>mail</mat-icon>
                </button>

                <button mat-icon-button>
                  S
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="help">
    <h1>Tips & Quick Help</h1>

    <p>
      IC Transfer Request and RemoteU
      Registration page helps you create new
      transfer request to RemoteU for your IC.
    </p>

    <p>
      Please, make sure you read all instructions
      before submitting transfer request and
      feel free to contact available RemoteU
      Software Engineering Manager for any
      questions you have.
    </p>

    <p>IMPORTANT</p>

    <p>
      RemoteU form needs to be filled before
      Wednesday EOD to book the slot
      available for next batch.
    </p>

    <p>
      Current / existing manager needs to
      communicate clearly to IC the reason for
      their movement to RemoteU and
      graduation from RemoteU is mandatory
      to be eligible for any job offer in EWS.
    </p>

    <p>
      IC needs to be moved to Eng RemoteU
      team only on Monday morning under any
      of the below reporting SEM name and
      also for any queries.
    </p>
  </div>
</section>
