@import '~@devfactory/ngx-df/core/_core';
@import '~@angular/cdk/overlay-prebuilt.css';

body {
  @import '~@devfactory/ngx-df/core/theming/aurea-skin/main';
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  outline: none;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background: #fefefe;
}

.overflow-auto {
  overflow: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}
