<section class="page">
  <header class="header">
    <div class="wrapper">
      <div class="left">
        <a href="https://www.crossover.com"
          class="logo"
          target="_blank">REMOTEU PORTAL</a>
      </div>
    </div>
  </header>

  <div class="content wrapper">
    <div class="left">
      <div class="image"></div>
      <div class="info">
        <div class="info-left">
          <h1>Earn While You Learn&hellip;</h1>

          <p>
            Crossover’s RemoteU is a specially designed place where you can learn many new techniques,
            adopt Crossover’s remote work philosophy and at the same time earn money while gathering new skills.
          </p>
        </div>
        <div class="info-right">
          <h1>Graduate Fast&hellip;</h1>

          <p>
            Crossover’s RemoteU is split into four weeks of special
            training. Each week is dedicated to different tasks which will
            help you hone your skills.
          </p>
        </div>
      </div>
    </div>
    <div class="right d-flex flex-column justify-content-between">
      <div class="mt-5 px-5">
        <h1 class="mb-3 text-left">Sign Up Today!</h1>
        <h2 class="mb-1 mt-4">Engineering RemoteU</h2>
        <a 
          [routerLink]="['/registration/engineering']"
          class="text-white">
          <button mat-raised-button
            class="login">
            CLICK HERE
          </button>
        </a>
      </div>

      <div class="d-flex py-5 d-flex flex-column justify-content-between">
        <div class="mt-5 px-5">
          <h1 class="mb-1 text-center">Already Signed Up?</h1>
          <app-sign-in-button (loginSucceeded)="onSuccess($event)"
                              (loginFailed)="onFailure($event)"></app-sign-in-button>
        </div>
      </div>
    </div>
  </div>

  <div class="success wrapper">
    <h1>Success Stories</h1>

    <div class="wrapper-inner">
      <div class="comment">
        <p>
          I have found RemoteU to be a great place to work on real-life challenging assignments.
          I have received great support and my RemoteU SEM coaching has helped me in polishing my skills and making me adapt to
          the company's culture. After the RemoteU training, I was immediately sent a job offer from Ignite Technologies.
          I am now very happy to be part of this great company.
        </p>

        <p class="signature">
          Milos Sretin
          <span>Chief Software Architect</span><br/>
          Product: FirstRain Project
        </p>
      </div>

      <div class="avatar"></div>
    </div>
  </div>

  <div class="video">
    <div class="wrapper">
      <h1>Introduction</h1>

      <p>
        Before you begin, please take a look at RemoteU's introduction video.
        This will help you understand more about RemoteU and what to expect in the next four weeks.
      </p>

      <iframe height="400px"
        width="800px"
        class="my-3 video-player"
        src="https://www.youtube.com/embed/VZBpkXWXlf0">
      </iframe>
      <p>
        Also, be sure to check how you will benefit from RemoteU <a href="https://medium.com/@crossoverforwork/remote-camp-rigorous-training-results-in-crossover-careers-64cb9a6cb748" target="_blank">here</a>.
      </p>
      <br>
      <p>We wish you good luck in your journey of becoming a Crossover's Elite Team Member!</p>
    </div>
  </div>

  <div class="partners wrapper">
    <h1>After graduation, you can become a member of one of the biggest companies and work with the world’s greatest talents.</h1>

    <img src="/assets/images/companies.png" />
  </div>

  <div class="copyright wrapper">
    <p>Crossover is committed to securing and protecting your information. <a href="https://www.crossover.com/privacy-policy/" target="_blank">Privacy policy</a>.</p>
    <p>© Crossover, 2019. All Rights Reserved.</p>

    <a href="https://www.crossover.com"
      target="_blank">
      <img src="/assets/images/crossover-logo.png" href="http://wwww.crossover.com" width="180" height="49" />
    </a>
  </div>
</section>

<ng-template #impersonationModal
  class="impersonation-modal"
  let-close="close">
    <div class="df-modal__header mt-3">
      <button class="df-modal__close-btn"
        (click)="close()">
        <span class="df-modal__close-icon"></span>
      </button>
      <div modal-header>Impersonate User</div>
    </div>
  <div class="modal-body" 
  modal-body>
    <div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          [formControl]="impersonationEmailControl"
          placeholder="Please enter user's email"
          name="impersonationEmail">
      </div>
      <div class="d-flex justify-content-end">
        <div class="d-block">
          <button 
            (click)="submitImpersonation(close)"
            id="submitImpersonation"
            [disabled]="isButtonDisabled()"
            class="btn btn-primary pl-4 pr-4 mr-2">
            Ok
          </button>
          <button 
            (click)="skipImpersonation(close)"
            id="skipImpersonation"      
            class="btn btn-outline-primary pl-4 pr-4">
            Skip
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
