<section class="container">
  <div class="content">
    <div class="header">
      <div class="user col">
        Milos ( Miskone ) Sretin
      </div>
    </div>

    <div class="main">
      <div class="introduction">
        <h1>IC Transfer Request and Boot Camp Registration</h1>

        <p>Following bellow form is mandatory to initiate successfull transfer of IC to Bootcamp Engineering team.</p>

        <div class="alert">
          <div class="badge">
            <mat-icon>info</mat-icon>
          </div>
          <div class="data">
            <h1>Important notes</h1>

            <ul>
              <li>
                Bootcamp form needs to be filled before Wednesday EOD to book the slot available for next batch.
              </li>
              <li>
                Current / existing manager needs to communicate clearly to IC the reason for their movement to Bootcamp and
                graduation from Bootcamp is mandatory to be eligible for any job offer in EWS.
              </li>
              <li>
                IC needs to be moved to Eng Bootcamp team only on Monday morning under any
                of the below reporting SEM name and also for any queries.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="center">
        <div class="left">
          <h1>Transfer Request Form</h1>

          <form>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="IC Full name" />
                </mat-form-field>

                <mat-form-field class="full-width">
                  <input matInput placeholder="ESW Company E-mail address" />
                </mat-form-field>

                <mat-form-field class="full-width">
                  <input matInput placeholder="Private E-mail address" />
                </mat-form-field>

                <mat-form-field class="full-width">
                  <input matInput placeholder="Skype ID" />
                </mat-form-field>

                <h1>Designation</h1>

                <mat-radio-group>
                  <mat-radio-button value="1">Vice President ( VP )</mat-radio-button>
                  <mat-radio-button value="2">Software Engineering Manager ( SEM )</mat-radio-button>
                  <mat-radio-button value="3">Chief Software Architect ( CA )</mat-radio-button>
                  <mat-radio-button value="4">Software Architect ( SA )</mat-radio-button>
                  <mat-radio-button value="5">Software Engineer ( SE )</mat-radio-button>
                </mat-radio-group>

                <h1>Pre requirements</h1>

                <mat-checkbox>IC is informed about transfer to Bootcamp</mat-checkbox>
                <mat-checkbox>All required information about IC are provided</mat-checkbox>
              </div>
              <div class="col">
                <h1>Technology</h1>

                <mat-checkbox>C# .Net</mat-checkbox>
                <mat-checkbox>Java</mat-checkbox>
                <mat-checkbox>C / C++</mat-checkbox>
                <mat-checkbox>Front End ( JavaScript )</mat-checkbox>
                <mat-checkbox>Front End ( TypeScript )</mat-checkbox>
                <mat-checkbox>Test Automation</mat-checkbox>
                <mat-checkbox>QA Manual</mat-checkbox>

                <mat-form-field class="full-width">
                  <input matInput placeholder="Existing SEM" />
                  <mat-icon matSuffix>help_circle</mat-icon>
                </mat-form-field>

                <mat-form-field class="full-width">
                  <input matInput placeholder="Existing Team-room name in Crossover" />
                  <mat-icon matSuffix>help_circle</mat-icon>
                </mat-form-field>

                <mat-form-field class="full-width">
                  <input matInput placeholder="Reason for movement to Bootcamp" />
                  <mat-icon matSuffix>help_circle</mat-icon>
                </mat-form-field>

                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Available start date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="full-width">
                  <textarea matInput placeholder="Additional Information"></textarea>
                </mat-form-field>
              </div>
            </div>

            <button type="button" mat-raised-button style="background: #22AAE3; color: #fff">SEND TRANSFER REQUEST</button>
            <button type="button" mat-raised-button style="margin-left: 20px">Upload additional documents</button>
          </form>
        </div>

        <div class="right">
          <h1>Available Bootcamp SEMs</h1>

          <p>
            Please, feel free to contact Bootcamp SEMs for any questions that you
            have related to Bootcamp and IC transferring.
          </p>

          <div class="managers">
            <div class="manager">
              <div class="avatar"></div>
              <div class="manager-content">
                <div class="title">Mohammad Shah</div>
                <div class="contact">
                  <div>mohammad.shah@aurea.com</div>
                  <div>mdshahbrains</div>
                </div>
              </div>
              <div class="actions">
                <button mat-icon-button>
                  <mat-icon>chat</mat-icon>
                </button>

                <button mat-icon-button>
                  <mat-icon>mail</mat-icon>
                </button>

                <button mat-icon-button>
                  S
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="help">
    <h1>Tips & Quick Help</h1>

    <p>
      IC Transfer Request and Boot Camp
      Registration page helps you create new
      transfer request to Boot Camp for your IC.
    </p>

    <p>
      Please, make sure you read all instructions
      before submitting transfer request and
      feel free to contact available Boot Camp
      Software Engineering Manager for any
      questions you have.
    </p>

    <p>IMPORTANT</p>

    <p>
      Bootcamp form needs to be filled before
      Wednesday EOD to book the slot
      available for next batch.
    </p>

    <p>
      Current / existing manager needs to
      communicate clearly to IC the reason for
      their movement to Bootcamp and
      graduation from Bootcamp is mandatory
      to be eligible for any job offer in EWS.
    </p>

    <p>
      IC needs to be moved to Eng Bootcamp
      team only on Monday morning under any
      of the below reporting SEM name and
      also for any queries.
    </p>
  </div>
</section>
